     
      
      <h5>Magic Kingdom - Walt Disney World Florida </h5>

      <br>

      <div>

        <table class="table" style="width:auto">
            <tr>
              <th colspan="2" bgcolor="#d9d9d9"><i>Liberty Square</i></th>
            </tr>
                <% lSquare.forEach(function(park) { %>
                    <tr>
                               <td> <%= park.name %> </td>
                               <td> <span class="<%= park.status %>"><b> <%= park.time %> </b></span></td>
                    </tr>
                <% }); %>
        </table>


        <table class="table" style="width:auto;">
            <tr>
              <th colspan="2" bgcolor="#d9d9d9"><i>Main Street U.S.A.</i></th>
            </tr>
                <% MSU.forEach(function(park) { %>
                    <tr>
                               <td> <%= park.name %> </td>
                               <td> <span class="<%= park.status %>"><b> <%= park.time %> </b></span></td>
                    </tr>
                <% }); %>
        </table>
        
        <table class="table" style="width:auto">
            <tr>
              <th colspan="2" bgcolor="#d9d9d9"><i>Adventureland</i></th>
            </tr>
                <% aLand.forEach(function(park) { %>
                    <tr>
                               <td> <%= park.name %> </td>
                               <td> <span class="<%= park.status %>"><b> <%= park.time %> </b></span></td>
                    </tr>
                <% }); %>
        </table>

        <table class="table" style="width:auto">
            <tr>
              <th colspan="2" bgcolor="#d9d9d9"><i>Frontierland</i></th>
            </tr>
                <% fLand.forEach(function(park) { %>
                    <tr>
                               <td> <%= park.name %> </td>
                               <td> <span class="<%= park.status %>"><b> <%= park.time %> </b></span></td>
                    </tr>
                <% }); %>
        </table>

        <table class="table" style="width:auto">
            <tr>
              <th colspan="2" bgcolor="#d9d9d9"><i>Fantasyland</i></th>
            </tr>
                <% fanLand.forEach(function(park) { %>
                    <tr>
                               <td> <%= park.name %> </td>
                               <td> <span class="<%= park.status %>"><b> <%= park.time %> </b></span></td>
                    </tr>
                <% }); %>
        </table>


        <table class="table" style="width:auto">
            <tr>
              <th colspan="2" bgcolor="#d9d9d9"><i>Tomorrowland</i></th>
            </tr>
                <% tLand.forEach(function(park) { %>
                    <tr>
                               <td> <%= park.name %> </td>
                               <td> <span class="<%= park.status %>"><b> <%= park.time %> </b></span></td>
                    </tr>
                <% }); %>
        </table>

      </div>

