
  
      <main role="main" class="inner cover">

            <div class="title">
            	<br>
            	<br>
                <h1>Live Queue Times direct from your favourite theme parks!!</h1>
                <br>
            	<br>
            </div>

            <div class="container" align="left">
              <div class="row">
                <div class="col">
                  <ul class="list-unstyled" align="left">
                    <li><b>Walt Disney World Florida</b></li>
                    <ul>
                       <a href="/park1"><li> Magic Kingdom </li></a>
                       <a href="/park2"><li> Epcot </li></a>
                       <a href="/park3"><li> Hollywood Studio's </li></a>
                       <a href="/park4"><li> Animal Kingdom </li></a>
                    </ul>
                  </ul>
                </div>
              
              <div class="col">
                <ul class="list-unstyled" align="left">
                <li><b>Disneyland Paris</b>
                  <ul>
                    <a href="/park"><li> Magic Kingdom </li></a>
                    <a href="/park"><li> Hollywood Studio's </li></a>
                  </ul>
                </ul>
              </div>

            <div class="col">
                <ul class="list-unstyled" align="left">
                <li><b>Universal Studio's</b>
                  <ul>
                    <a href="/park"><li> Magic Kingdom </li></a>
                    <a href="/park"><li> Hollywood Studio's </li></a>
                  </ul>
                </ul>
              </div>
            </div>
          </div>

              <!--
              <br>
              <li><b>Universal:</b>
              <% pkUniversal.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %> </li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Six Flags:</b>
              <% pkSixflags.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Merlin Parks:</b>
              <% pkMerlin.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Cedar Parks:</b>
              <% pkCedar.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Other:</b>
              <% pkOther.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>-->

            </ul>

      </main>
