
  
      <main role="main" class="inner cover">

            <div class="title">
            	<br>
            	<br>
                <h5>Live Queue Times direct from your favourite theme parks!!</h5>
                <br>
            	<br>
            </div>

            <ul class="list-unstyled" align="left">

              <li><b>Disney:</b>
              <% pkDisney.forEach(function(park) { %>
              <ul>
                 <a href="<%= park.link %>"><li> <%= park.name %> </li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Universal:</b>
              <% pkUniversal.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %> </li></a>
              </ul>
              <% }); %>

              <br>
              <!--<li><b>Six Flags:</b>
              <% pkSixflags.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Merlin Parks:</b>
              <% pkMerlin.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Cedar Parks:</b>
              <% pkCedar.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>

              <br>
              <li><b>Other:</b>
              <% pkOther.forEach(function(park) { %>
              <ul>
                <a href="<%= park.link %>"><li> <%= park.name %></li></a>
              </ul>
              <% }); %>-->

            </ul>

      </main>
